<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Affichage des Students</title>
</head>
<body>
<form action="/ListStudent" method="POST">

    <% for(var i=0; i<studentList.length; i++) {%>
        <p><%= studentList[i].lastName + ' ' + studentList[i].firstName +' '+ studentList[i].age%></p>
        <a href="/delete/<%= studentList[i].id%>">Supprimer</a>
    <% } %>


</form>


</body>
</html>
